<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sandwcih detail</title>
</head>
<body>

	<header class="header">
		<% if user_signed_in? %>
			<h6> Welcome <%= current_user.email %> </h6> 
			<% else %>
			<h6> No one logged in </h6>
			<%= link_to("Log In", new_user_session_path) %>
			<%= link_to("Sign Up", new_user_registration_path) %>
		<% end %>
	</header>
	
	<h2> the <%=@sandwich.name.upcase %> sub </h2>

	<ul>
		
		
		<li> bread: <%= @sandwich.bread_type%></li>
		<li class ="data-total-calories"> total calories<%= @sandwich.total_calories%></li>
		<li class ="data-ingredients"> ingredients: 
			<% @sandwich.ingredients.each do |ingredient|%>
				<%=ingredient.name%> ,
			<% end %>
	
		</li>

		<div class="ingredient_button">
			<% @ingredients.each do |ingredient|%>
				<div>

				  <%= button_tag(type: 'button', data: { id: ingredient.id}) do %>

				  <%= content_tag(:strong, "add " + ingredient.name) %>
				</div>
				<% end %>
			<% end %>
		</div>
		
		
	



	</ul>

	<script type="text/javascript">


		$("button").on("click",function(){
			var id = $(this).attr("data-id");
			var sandwich_id = <%=@sandwich.id%>;

			var data = {
				ingredient_id: id
			}

			$.ajax({
				type:'POST',
				url: `/api/sandwiches/${sandwich_id}/ingredients/add`,
				data: data,
				success:function(data,text,xhr){
					// redirect_to `/sandwiches/${sandwich_id}`
					console.log(data)

					var length = data.ingredients.length

					$(".data-total-calories").text(data.sandwich.total_calories)
					$(".data-ingredients").append(`<span>${data.ingredients[length-1].name}</span>`)

				},
				error:function(){
					console.log("error")
				}

			})

		})

	</script>

</body>
</html>