<!-- time_entries/_form.html.erb -->

<% if @my_entry.errors.any? %>  
	<ul>
		<!--errors runs when form is .save & fails validation -->
		<% @my_entry.errors.full_messages.each do |error_msg| %>
		<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for [@my_project, @my_entry] do |f| %> <!-- form name on right is the understood one 												     it's offically for -->

	<%= f.label :hours %>
	<%= f.text_field :hours %>
	<br>
	<%= f.label :minutes %>
	<%= f.text_field :minutes %>
	<br>
	<%= f.label :date %>
	<%= f.date_field :date %>
	<br>
	<%= f.label :comments %>
	<%= f.text_field :comments %>


	<%= f.button %> <!-- or f.submit works too -->

	<% end %>